Source: acmed
Section: admin
Priority: optional
Maintainer: Networkx GmbH <support@networkx.de>
Build-Depends: debhelper (>= 10), dh-exec, libssl-dev, pkg-config
Uploaders: Ralf Zerres <ralf.zerres@networkx.de>
Standards-Version: 4.6.1.0
Homepage: https://github.com/rzerres/dsnap-sync.git

Package: acmed
Architecture: amd64
Depends: openssl
Description: ACMEd is an Automatic Certificate Management Environment (ACME) client deamon
 It is complient to RFC 8555 and implements the following features:
 - http-01, dns-01 and [tls-alpn-01](https://tools.ietf.org/html/rfc8737) challenges
 - IP identifier validation extension [RFC 8738](https://tools.ietf.org/html/rfc8738)
 - RSA 2048, RSA 4096, ECDSA P-256, ECDSA P-384 and ECDSA P-521 certificates
 - Internationalized domain names support
 - Fully customizable challenge validation action
 - Fully customizable archiving method (yes, you can use git or anything else)
 - Nice and simple configuration file
 - A pre-built set of hooks that can be used in most circumstances
 - Run as a deamon: no need to set-up timers, crontab or other time-triggered process
 - Retry of HTTPS request rejected with a badNonce or other recoverable errors
 - Customizable HTTPS requests rate limits
 - External account binding
 - Optional key pair reuse (useful for [HPKP](https://en.wikipedia.org/wiki/HTTP_Public_Key_Pinning))
 - For a given certificate, each domain name may be validated using a different challenge
 - A standalone server dedicated to the tls-alpn-01 challenge validation (tacd)
